@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

html,
body {
  /* @apply bg-gray-500 dark:bg-gray-900; */
}

/* Write your own custom component styles here */
.btn-blue {
  @apply px-4 py-2 font-bold text-white bg-blue-500 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
.font-sans {
  font-family: 'Inter', ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}
.font-serif {
  font-family: 'Playfair Display', ui-serif, Georgia, Cambria, 'Times New Roman',
    Times, serif;
}
.font-mono {
  font-family: 'IBM Plex Mono', 'Noto Sans Mono', ui-monospace, SFMono-Regular,
    Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}
.font-title {
  font-size: 1.25em;
  line-height: 1.25em;
  padding-top: 0.375em;
  font-weight: bold;
}
.font-title.font-serif {
  transform: scaleY(0.9);
  transform-origin: 0 0;
  margin-bottom: -0.225em;
}
.font-title.font-sans {
  font-size: 1.25em;
  line-height: 1.1em;
  margin-top: -0.05em;
  /* margin-bottom: -0.225em; */
  letter-spacing: 0.025em;
}
.font-title.font-mono {
  font-size: 1.125em;
  line-height: 1.24em;
  padding-top: 0.4375em;
  font-weight: 600;
  letter-spacing: -0.025em;
  margin-bottom: 0.025em;
}
.font-description {
  font-size: 0.75em;
  line-height: 1.25em;
}
.font-meta {
  font-size: 0.5em;
  line-height: 1.25em;
}
